.idea
/cache/*
/sqlImport
/var/*
!/var/.gitkeep
/app/cache/*
!/app/cache/.gitkeep
/app/test/cache/*
!/app/test/cache/.gitkeep
/app/bootstrap.php.cache
/app/logs/*
!/app/logs/.gitkeep
/themes/*/cache/*
/themes/*/assets/cache/*
/download/*
!/download/index.php
!/download/.htaccess
/upload/*
!/upload/index.php
!/upload/.htaccess
/img/*
!/img/m
!/img/favicon.ico
!/img/preston-login-wink@2x.png
!/img/preston-login@2x.png
!/img/logo-*.jpg
!/img/m/fr-default-cart_default.jpg
!/img/m/fr-default-home_default.jpg
!/img/m/fr-default-news_default.jpg
!/img/m/fr-default-small_product.jpg
/docker/mariadb/init/999-export.sql
node_modules
.github
config_fr.xml
trusted_modules_list.xml
untrusted_modules_list.xml

