

#blockEmailSubscription_displayFooterBefore {
  float: inherit;
  width: 100%;
  margin: auto;
}

.block-contact {
  font-size: 0.875rem;
  color: $gray;

  .block-contact-title {
    color: $gray-darker;
  }

  .navbar-toggler .material-icons {
    color: $gray-darker;
  }

  @include media-breakpoint-down(sm) {
    #contact-infos {
      padding: 0.625rem;
      padding-top: 0;
    }
  }
}

.linklist {
  .blockcms-title a {
    color: $gray-darker;
  }
}

.account-list a {
  color: $gray;

  &:hover {
    color: $brand-primary;
  }
}

.blockcms-title,
.myaccount-title,
.myaccount-title a,
.block-contact-title {
  font-size: $base-font-size;
  font-weight: 700;
}
.ul-link-footer{
  display: flex;
  justify-content: space-evenly;
}

.block-social-container{
  @include flexcentercolumn();

  @include media-breakpoint-down(sm) {
    padding: 1rem;

    .block-social{
      width: 100%;
    }

  }
}
.block-social {
  text-align: center;
  color :$white;

  h3{
    font-family: "Satisfy", cursive;
    text-shadow: 2px 2px 2px #bd45bd;
    font-size: 1.5rem;
    font-weight: 400;
    font-style: normal;
  }
  .social-png{
    max-height: 55px;

    &:hover {
     scale: 1.1
    }
  
  }
  .social-ul{
    @include flexcenter();
    justify-content: space-evenly;
    box-shadow: inset 0 0 2px 3px #46297b;
    background: $white;
    padding: 1rem;
    border-radius: 6px;
  }

    @include media-breakpoint-down(sm) {
      flex-flow: wrap;
    }


  
}

.facebook {
  background-image: url("../img/facebook.svg");

  &::before {
    content: "";
    background-image: url("../img/facebook-blue.svg");
  }

  &.icon-gray {
    background-image: url("../img/facebook-gray.svg");

    &:hover {
      background-image: url("../img/facebook-blue.svg");
    }
  }
}

.twitter {
  background-image: url("../img/twitter.svg");

  &::before {
    content: "";
    background-image: url("../img/twitter-blue.svg");
  }

  &.icon-gray {
    background-image: url("../img/twitter-gray.svg");

    &:hover {
      background-image: url("../img/twitter-blue.svg");
    }
  }
}

.linkedin {
  background-image: url("../img/linkedin.svg");
  background-position: center center;
}

.rss {
  background-image: url("../img/rss.svg");
}

.youtube {
  background-image: url("../img/youtube.svg");
}

.googleplus {
  background-image: url("../img/gplus.svg");

  &::before {
    content: "";
    background-image: url("../img/gplus-blue.svg");
  }

  &.icon-gray {
    background-image: url("../img/gplus-gray.svg");

    &:hover {
      background-image: url("../img/gplus-blue.svg");
    }
  }
}

#block_myaccount_infos {
  .myaccount-title a {
    color: $gray-darker;
  }
}

.pinterest {
  background-image: url("../img/pinterest.svg");

  &::before {
    content: "";
    background-image: url("../img/pinterest-blue.svg");
  }

  &.icon-gray {
    background-image: url("../img/pinterest-gray.svg");

    &:hover {
      background-image: url("../img/pinterest-blue.svg");
    }
  }
}

.vimeo {
  background-image: url("../img/vimeo.svg");
}

.instagram {
  background-image: url("../img/instagram.svg");
}

.footer-container {
  background: linear-gradient(0deg, rgba(70,41,123,1) 0%, rgba(31,9,56,1) 100%);
  padding-top: $extra-large-space;
  overflow: hidden;

  .h3,
  .h4 {
    color : $white;
    margin-bottom: 1rem;
    font-size: 1rem;
      }

      #block_myaccount_infos .myaccount-title a, .block-contact{
    color : $white;
  }

  li {
    margin-bottom: 0.3125rem;
  }

  li a {
    font-size: $font-size-sm;
    color: $white;
    cursor: pointer;

    &:hover {
      color: $brand-primary;
    }
  }

}

.links {
  .collapse {
    display: inherit;
  }

}

@include media-breakpoint-down(sm) {

  .footer-container{
    padding-top: 0;
  }
  .block_newsletter {
    padding-bottom: 0.625rem;
    border-bottom: 1px solid $gray-lighter;
  }

  .footer-container {
    margin-top: 0;
    box-shadow: none;

    .wrapper {
      /* stylelint-disable */
      padding-right: 0 !important;
      padding-left: 0 !important;
      /* stylelint-enable */
    }

    .links {
      .h3 {
        font-size: 1rem;
        line-height: 1.5;
      }

      ul {
        @include flexcentercolumn();
        margin-bottom: 0;
        background-color: $white;

        > li {
          padding: 0.625rem;
          font-weight: 600;
          border-bottom: 1px solid $white;

          a {
            color: $gray-darker;
          }
        }
      }
    }
  }

  .links {
    .collapse {
      display: none;

      &.in {
        display: block;
      }
    }

    .title {
      padding: 0.625rem;
      cursor: pointer;
      border-bottom: 1px solid $gray-lighter;

      .collapse-icons .remove {
        display: none;
      }
    }

    .title[aria-expanded="true"] .collapse-icons {
      .add {
        display: none;
      }

      .remove {
        display: block;
      }
    }

    .navbar-toggler {
      display: inline-block;
      padding: 0;
    }
  }
}

@include media-breakpoint-down(md) {
  .block-social {
    text-align: center;
  }

  .block-contact {
    padding-left: 1.5rem;
  }
}
